<div class="panel panel-default col-xs-12" ng-show="logueado" >
	<form style="width:100%">
		<div class="col-xs-12">
			<input type="text" placeholder="$$$">
			<textarea placeholder="Descripción" wrap="hard" rows="4"></textarea>
		</div>
		<div class="col-xs-6 cuentas">
			<input type="submit" ng-repeat="cuenta in cuentas | limitTo:5" class="btn btn-success">{{cuenta.nombre}}</input>
		</div>

		<div class="col-xs-6 cuentas">
			<input type="submit" ng-repeat="cuenta in cuentas | limitTo:5" class="btn btn-warning">{{cuenta.nombre}}</input>
		</div>

	</form>